{% extends 'registration/base_login.html' %}
{% load static %}
{% block title %}Confirmar cambio de clave{% endblock %}
{% block content %}
  <body class="hold-transition login-page">
    <div class="login-box" style="width: 500px;">
      <div class="card card-outline card-primary" style="padding: 20px;">
        <div class="brand-link" style="padding: 0px; margin: 10px 0px 0px 20px; display: flex; justify-content: flex-start;">
          <img src="{% static 'farmer/dist/img/logo_2.png' %}" alt="COCOAPP Logo" class="img-fluid" style="width: 150px;">
        </div>
        <div class="card-body">
          {% if validlink %}
            <p class="login-box-msg" style="text-align: justify;">Por favor, introduzca su contraseña nueva dos veces para verificar que la ha escrito correctamente.</p>
            <form action="" method="post">
              {% csrf_token %}
              <div class="input-group mb-3">
                {{form.new_password1.errors}}
                <input type="password" class="form-control" name="new_password1" required="" id="id_new_password1" class="form-control" placeholder="Introduce la nueva contraseña">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                {{form.new_password2.errors}}
                <input type="password" class="form-control" name="new_password2" required="" id="id_new_password2" class="form-control" placeholder="Repite la nueva contraseña">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <button type="submit" class="btn btn-primary btn-block">Cambiar mi contraseña</button>
                </div>
                <!-- /.col -->
              </div>
            </form>
          {% else %}
            <h3 class="mb-4">Restablecimiento de contraseñas fallido</h3>
            <p>El enlace de restablecimiento de contraseña era inválido, seguramente porque se haya usado antes. Por favor, 
              solicite un nuevo restablecimiento de contraseña <a href="{% url 'password_reset' %}" style="color: #dd7741;">aquí</a>.</p>
          {% endif %}
          <p class="mt-3 mb-1">
            <a href="{% url 'login' %}" style="font-size: 1.2rem; color: #693F29;">Login</a>
          </p>
        </div>
        <!-- /.login-card-body -->
      </div>
    </div>
    <!-- /.login-box -->
  </body>
{% endblock %}