{% extends 'registration/base_login.html' %}
{% load static %}
{% block title %}Restablecimiento de contraseña completado{% endblock %}
{% block content %}
  <body class="hold-transition login-page">
    <div class="login-box" style="width: 700px;">
      <div class="card card-outline card-primary" style="padding: 20px;">
        <div class="brand-link" style="padding: 0px; margin: 10px 0px 0px 20px; display: flex; justify-content: flex-start;">
          <img src="{% static 'farmer/dist/img/logo_2.png' %}" alt="COCOAPP Logo" class="img-fluid" style="width: 150px;">
        </div>
        <div class="card-body">
          <h3 class="mb-4">Restablecimiento de contraseña completado</h3>
          <p class="login-box-msg" style="text-align: justify; padding: 0;">Su contraseña ha sido establecida. Ahora puede seguir adelante e iniciar sesión.</p>
          <p class="mt-3 mb-1">
            <a href="{% url 'login' %}" style="font-size: 1.2rem; color: #693F29;">Regresar al Login</a>
          </p>
        </div>
        <!-- /.login-card-body -->
      </div>
    </div>
  </body>
{% endblock %}